<a href="https://colab.research.google.com/github/frayyyx/testRepo/blob/master/Vezbe4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
url = "https://raw.githubusercontent.com/hajdeger/AOP_PUB/master/heart.dat"

In [0]:
df = pd.read_csv(url, delimiter = " ", names = ['age', 'sex', 'chest_pain_type', 'resting_blood_pressure', 'serum_cholesterol_mg_per_dl', 'fasting_blood_sugar_gt_120_mg_dl',
                                                'resting_ekg_results', 'max_heart_rate_achieved', 'exercise_induced_angina', 
                                               'oldpeak_eq_st_depression', 'slope_of_peak_exercise_st_segment',
                                                'num_major_vessels', 'thal', 'heart_desease_present'])

In [21]:
df.head(10)

    age  sex  chest_pain_type  ...  num_major_vessels  thal  heart_desease_present
0  70.0  1.0              4.0  ...                3.0   3.0                      2
1  67.0  0.0              3.0  ...                0.0   7.0                      1
2  57.0  1.0              2.0  ...                0.0   7.0                      2
3  64.0  1.0              4.0  ...                1.0   7.0                      1
4  74.0  0.0              2.0  ...                1.0   3.0                      1
5  65.0  1.0              4.0  ...                0.0   7.0                      1
6  56.0  1.0              3.0  ...                1.0   6.0                      2
7  59.0  1.0              4.0  ...                1.0   7.0                      2
8  60.0  1.0              4.0  ...                2.0   7.0                      2
9  63.0  0.0              4.0  ...                3.0   7.0                      2

[10 rows x 14 columns]

In [22]:
df.head(5)

    age  sex  chest_pain_type  ...  num_major_vessels  thal  heart_desease_present
0  70.0  1.0              4.0  ...                3.0   3.0                      2
1  67.0  0.0              3.0  ...                0.0   7.0                      1
2  57.0  1.0              2.0  ...                0.0   7.0                      2
3  64.0  1.0              4.0  ...                1.0   7.0                      1
4  74.0  0.0              2.0  ...                1.0   3.0                      1

[5 rows x 14 columns]

In [0]:
column_names = df.columns

In [24]:
print(column_names)

Index(['age', 'sex', 'chest_pain_type', 'resting_blood_pressure',
       'serum_cholesterol_mg_per_dl', 'fasting_blood_sugar_gt_120_mg_dl',
       'resting_ekg_results', 'max_heart_rate_achieved',
       'exercise_induced_angina', 'oldpeak_eq_st_depression',
       'slope_of_peak_exercise_st_segment', 'num_major_vessels', 'thal',
       'heart_desease_present'],
      dtype='object')

In [25]:
df.dtypes

age                                  float64
sex                                  float64
chest_pain_type                      float64
resting_blood_pressure               float64
serum_cholesterol_mg_per_dl          float64
fasting_blood_sugar_gt_120_mg_dl     float64
resting_ekg_results                  float64
max_heart_rate_achieved              float64
exercise_induced_angina              float64
oldpeak_eq_st_depression             float64
slope_of_peak_exercise_st_segment    float64
num_major_vessels                    float64
thal                                 float64
heart_desease_present                  int64
dtype: object

In [26]:
print(df.dtypes)

age                                  float64
sex                                  float64
chest_pain_type                      float64
resting_blood_pressure               float64
serum_cholesterol_mg_per_dl          float64
fasting_blood_sugar_gt_120_mg_dl     float64
resting_ekg_results                  float64
max_heart_rate_achieved              float64
exercise_induced_angina              float64
oldpeak_eq_st_depression             float64
slope_of_peak_exercise_st_segment    float64
num_major_vessels                    float64
thal                                 float64
heart_desease_present                  int64
dtype: object

In [28]:
for i in column_names:
  print("{} is unique: {}".format(i, df[i].is_unique))

age is unique: False
sex is unique: False
chest_pain_type is unique: False
resting_blood_pressure is unique: False
serum_cholesterol_mg_per_dl is unique: False
fasting_blood_sugar_gt_120_mg_dl is unique: False
resting_ekg_results is unique: False
max_heart_rate_achieved is unique: False
exercise_induced_angina is unique: False
oldpeak_eq_st_depression is unique: False
slope_of_peak_exercise_st_segment is unique: False
num_major_vessels is unique: False
thal is unique: False
heart_desease_present is unique: False

In [29]:
df.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269])

In [31]:
pd.DataFrame.index

In [34]:
df.index

RangeIndex(start=0, stop=270, step=1)

In [35]:
df.columns

Index(['age', 'sex', 'chest_pain_type', 'resting_blood_pressure',
       'serum_cholesterol_mg_per_dl', 'fasting_blood_sugar_gt_120_mg_dl',
       'resting_ekg_results', 'max_heart_rate_achieved',
       'exercise_induced_angina', 'oldpeak_eq_st_depression',
       'slope_of_peak_exercise_st_segment', 'num_major_vessels', 'thal',
       'heart_desease_present'],
      dtype='object')