<a href="https://colab.research.google.com/github/frayyyx/testRepo/blob/master/Vezbe4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
url = "https://raw.githubusercontent.com/hajdeger/AOP_PUB/master/heart.dat"

In [0]:
df = pd.read_csv(url, delimiter = " ", names = ['age', 'sex', 'chest_pain_type', 'resting_blood_pressure', 'serum_cholesterol_mg_per_dl', 'fasting_blood_sugar_gt_120_mg_dl',
                                                'resting_ekg_results', 'max_heart_rate_achieved', 'exercise_induced_angina', 
                                               'oldpeak_eq_st_depression', 'slope_of_peak_exercise_st_segment',
                                                'num_major_vessels', 'thal', 'heart_desease_present'])

In [21]:
df.head(10)

    age  sex  chest_pain_type  ...  num_major_vessels  thal  heart_desease_present
0  70.0  1.0              4.0  ...                3.0   3.0                      2
1  67.0  0.0              3.0  ...                0.0   7.0                      1
2  57.0  1.0              2.0  ...                0.0   7.0                      2
3  64.0  1.0              4.0  ...                1.0   7.0                      1
4  74.0  0.0              2.0  ...                1.0   3.0                      1
5  65.0  1.0              4.0  ...                0.0   7.0                      1
6  56.0  1.0              3.0  ...                1.0   6.0                      2
7  59.0  1.0              4.0  ...                1.0   7.0                      2
8  60.0  1.0              4.0  ...                2.0   7.0                      2
9  63.0  0.0              4.0  ...                3.0   7.0                      2

[10 rows x 14 columns]